$primary-color: #a5b68d;
$secondary-color: #fcfaee;
$tertiary-color: #6E605B;
$chat-box-color: #ecdfcc;
$font-main: "Poppins", sans-serif;

* {
  margin: 0;
  padding: 0;
  font-family: $font-main;
  list-style: none;
  text-decoration: none;
}

header {
  display: flex;
  background-color: $primary-color;
  width: 100%;
  justify-content: space-around;
  align-items: center;

  img {
    width: 100px;
  }

  .header-links {
    display: flex;
    align-items: center;

    a {
      color: $secondary-color;
      font-weight: 500;
    }

    ul {
      display: flex;
      font-size: 14px;
      color: $secondary-color;

      li {
        padding-left: 20px;
      }
    }
  }
}