<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
/>
<header>
  <img src=".\assets\logosombra.png" alt="logo" />
  <div class="header-links">
    <ul>
      <li>Bem-Vindo</li>
      <li><a href="LINK DO USUÁRIO">Nelson</a></li>
      <li>
        <a href="Sair"><i class="fa-regular fa-user"></i></a>
      </li>
    </ul>
  </div>
</header>

<div class="content">
  <div class="sidebar">
    <ul>
      <li><a href="">Introdução ao ...</a></li>
      <li><a href="">Desenvolvimento ...</a></li>
      <li><a href="">Surtel o que faço ...</a></li>
      <li><a href="">Meu Professor es ...</a></li>
      <li><a href="">Pág. 15 Estrutura ...</a></li>
      <li><a href="">Processamento d...</a></li>
      <li><a href="">Quais são os imp...</a></li>
    </ul>
  </div>

  <div class="main-content">
    <h2>Impactos ambientais da I.A</h2>
    <p>Prof - Ricardo Favan</p>

    <div class="chat-box">
      <p>Como posso te ajudar hoje?</p>
    </div>

    <div class="input-area">
      <button class="left-btn">
        <i class="fas fa-paperclip"></i>
      </button>
      <input type="text" placeholder="Mensagem ..." />
      <button class="right-btn">
        <i class="fas fa-paper-plane"></i>
      </button>
    </div>
  </div>
</div>

<footer></footer>
