<app-navbar></app-navbar>
<div class="container">
    <div class="content">
        <div class="sidebar">
            <ul>
                <li><a href="">Introdução ao ...</a></li>
                <li><a href="">Desenvolvimento ...</a></li>
                <li><a href="">Surtel o que faço ...</a></li>
                <li><a href="">Meu Professor es ...</a></li>
                <li><a href="">Pág. 15 Estrutura ...</a></li>
                <li><a href="">Processamento d...</a></li>
                <li><a href="">Quais são os imp...</a></li>
            </ul>
        </div>
        
        <div class="main-content">
            <h2>Impactos ambientais da I.A</h2>
            <p>Prof - Ricardo Favan</p>
            
            <div class="chat-box">
                <p>Como posso te ajudar hoje?</p>
            </div>
            
            <div class="input-area">
                <button class="left-btn">
                    <img src="assets/clip.png" alt="">
                </button>
                <input type="text" placeholder="Mensagem ..."/>
                <button class="right-btn">
                    <img src="assets/send.png" alt="">
                </button>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>