
$primary-color: #a5b68d;
$secondary-color: #fcfaee;
$tertiary-color: #6E605B;
$chat-box-color: #ecdfcc;

* {
  list-style: none;
  text-decoration: none;
}

.container {
    height: 92vh;
    background-color: $secondary-color;
}

.content {
  display: flex;
}

.sidebar {
  width: 15%;
  background-color: $primary-color;
  padding: 15px;
  height: 420px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  margin-top: 45px;

  a {
    color: $secondary-color;
    font-weight: 500;
    text-decoration: none;
  }
}

.main-content {
  width: 80%;
  padding: 40px;

  h2 {
    margin: 0;
    font-size: 20px;
  }

  .chat-box {
    background-color: $chat-box-color;
    padding: 30px;
    margin: 20px 0px;
    font-size: 18px;
    text-align: center;
    height: 200px;
    position: relative;
    top: 10px;
    border-radius: 12px;

    p {
        color: $tertiary-color;
    }
  }

  .input-area {
    display: flex;
    align-items: center;
    position: relative;
    top: 20px;
    
    input {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding: 12px;
        padding-left: 60px;
        padding-right: 60px;
        font-size: 16px;
        border: none;
        background-color: $chat-box-color;
        border-radius: 5px;
    }
    
    button {
        position: absolute;
        color: #6E605B;
        border: none;
        background-color: transparent;
        cursor: pointer;
        padding: 0;
    }

    img {
        width: 30px;
    }

}
    
    .input-area .left-btn {
        left: 10px;
    }

  .input-area .right-btn {
    right: 10px;
  }

  .input-area .left-btn i,
  .input-area .right-btn i {
    font-size: 18px;
  }
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: $primary-color;
  padding: 25px;
}

@media (max-width: 768px) {
  header {
    .header-links {
      flex-direction: column;
      align-items: flex-start;

      h1 {
        font-size: 18px;
      }
    }
  }

  .content {
    flex-direction: column;

    .sidebar {
      display: none;
    }

    .main-content {
      width: 100%;
      padding: 10px;

      h2 {
        font-size: 18px;
      }

      .chat-box {
        font-size: 16px;
      }

      .input-area {
        input {
          width: 80%;
        }

        button {
          width: 20%;
        }
      }
    }
  }
}
