$primary-color: #a5b68d;
$secondary-color: #fcfaee;
$tertiary-color: #6E605B;
$chat-box-color: #ecdfcc;

* {
  list-style: none;
  text-decoration: none;
}

.container {
  height: 85vh;
  background-color: $secondary-color;
}

.content {
  display: flex;
}

.sidebar {
  width: 15%;
  background-color: $primary-color;
  padding: 15px;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  margin-top: 45px;

  a {
    color: $secondary-color;
    font-weight: 500;
    text-decoration: none;
  }
}

.main-content {
  width: 80%;
  padding: 40px;

  h2 {
    margin: 0;
    font-size: 20px;
    color: $tertiary-color;
  }

  p {
    color: $tertiary-color;
  }

  .chat-box {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $chat-box-color;
    padding: 30px;
    margin: 20px 0px;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    height: 312px;
    position: relative;
    top: 10px;
    border-radius: 12px;

    p {
      color: $tertiary-color;
    }
  }

  .input-area {
    display: flex;
    align-items: center;
    position: relative;
    top: 20px;

    input {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      padding: 12px;
      padding-left: 60px;
      padding-right: 60px;
      font-size: 16px;
      border: none;
      background-color: $chat-box-color;
      border-radius: 10px;

      input:focus {
        outline: none;
      }

    }

    button {
      position: absolute;
      color: #6E605B;
      border: none;
      background-color: transparent;
      cursor: pointer;
      padding: 0;
    }

    img {
      width: 30px;
    }

  }

  .input-area {
    display: flex;
    align-items: center;
    position: relative;
    top: 20px;

    input {
      display: flex;
      align-items: center;
      justify-content: center;
      color: $tertiary-color;
      width: 100%;
      padding: 12px;
      padding-left: 60px;
      padding-right: 60px;
      font-size: 16px;
      border: none;
      background-color: $chat-box-color;
      border-radius: 10px;

      &:focus {
        outline: none;
      }
    }

    button {
      position: absolute;
      color: #6E605B;
      border: none;
      background-color: transparent;
      cursor: pointer;
      padding: 0;
    }

    img {
      width: 30px;
    }
  }

  .input-area .left-btn {
    left: 10px;
  }

  .input-area .right-btn {
    right: 10px;
  }

  .input-area .left-btn i,
  .input-area .right-btn i {
    font-size: 18px;
  }
}

@media (max-width: 768px) {
  header {
    .header-links {
      flex-direction: column;
      align-items: flex-start;

      h1 {
        font-size: 18px;
      }
    }
  }
}