<app-navbar></app-navbar>
<main class="homeadm">
    <header class="header">
      <h1 class="title">Meu Orientador</h1>
      <h2 class="subtitle">Todos os trabalhos:</h2>
    </header>
    <section class="work-grid">
      <div class="grid-row">
        <article class="work-card">
          <div class="card-content"></div>
          <footer class="card-footer"></footer>
        </article>
      </div>
      <div class="grid-row">
        <article class="work-card">
          <div class="card-content"></div>
          <footer class="card-footer"></footer>
        </article>
      </div>
    </section>
  </main>
