<body>
    <div class="container" [class.active]="isRegisterMode">
    <div class="form-container sign-up">
        <form>
            <h1>Cadastro</h1>
            <input type="text" placeholder="Nome" required />
            <input type="email" placeholder="Email" required />
            <input type="password" placeholder="Senha" required />
            <button type="button">Inscreva-se</button>
        </form>
    </div>
    <div class="form-container sign-in">
        <form>
            <h1>Login</h1>
            <input type="email" placeholder="Email" required />
            <input type="password" placeholder="Senha" required />
            <a href="#">Esqueceu sua senha?</a>
            <button type="button">Entrar</button>
        </form>
    </div>
    <div class="toggle-container">
        <div class="toggle">
            <div class="toggle-panel toggle-left">
                <div class="img">
                    <img src="assets/logobranco1.png" alt="logo">
                </div>
                <button class="hidden" (click)="toggleMode(false)">Login</button>
            </div>
            <div class="toggle-panel toggle-right">
                <div class="img">
                    <img src="assets/logobranco1.png" alt="logo">
                </div>
                <button class="hidden" (click)="toggleMode(true)">Cadastro</button>
            </div>
        </div>
    </div>
</div>
</body>